# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specifics
config/report_config.yaml
test_result/
/reports/
data_train/
*.parquet
!data/*.parquet
*.csv
*.xlsx
*.pbix

# Build / Distribution
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db
